[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/gnome/plugins/rose-gnome"]
	path = .config/gnome/plugins/rose-gnome
	url = https://github.com/rose-pine/gnome-terminal.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:davidoroian/nvim.git
